Repository HVish/figma-love: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,css,scss}": [
    "prettier --write",
    "git add"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix --ext js,jsx,ts,tsx",
    "git add"
  ],
  "*.{css,scss}": [
    "stylelint --fix",
    "git add"
  ]
}

fix(admin): update select dropdown styling
  .nvmrc
  src/shared/pages/Admin/Admin.module.scss
  src/shared/pages/Admin/index.tsx
  src/shared/theme.scss
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

fix(admin): replace css variable with scss variable
  src/shared/pages/Admin/Admin.module.scss
Due: prettier --write, stylelint --fix

feat(dialog): add react-modal and create dialog component
  package.json
  src/client/index.tsx
  src/shared/assets/cross.svg
  src/shared/components/Checkbox/Checkbox.module.scss
  src/shared/components/Dialog/Dialog.scss
  src/shared/components/Dialog/Dialog.test.tsx
  src/shared/components/Dialog/Dialog.tsx
  src/shared/components/Dialog/index.ts
  src/shared/components/Search/Search.module.scss
  src/shared/components/Search/Search.tsx
  src/shared/mixins.scss
  src/shared/pages/Admin/Admin.module.scss
  src/shared/pages/Admin/index.tsx
  src/shared/test.css
  src/shared/theme.scss
  src/shared/variables.scss
  yarn.lock
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

feat(image-uploader): add image uploader component
  src/shared/components/Dialog/Dialog.scss
  src/shared/components/FlatButton/FlatButton.tsx
  src/shared/components/ImageUploader/ImageUploader.module.scss
  src/shared/components/ImageUploader/ImageUploader.test.tsx
  src/shared/components/ImageUploader/ImageUploader.tsx
  src/shared/components/ImageUploader/index.ts
  src/shared/pages/Admin/Admin.module.scss
  src/shared/pages/Admin/index.tsx
  src/shared/theme.scss
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

fix(admin): fix padding issues for admin page layout
  src/shared/components/Checkbox/Checkbox.module.scss
  src/shared/pages/Admin/Admin.module.scss
  src/shared/pages/Admin/index.tsx
  src/shared/theme.scss
  src/shared/variables.scss
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

feat(search): add collapse support to search component
  src/shared/assets/cancel-icon.svg
  src/shared/assets/search-icon.svg
  src/shared/components/FlatButton/FlatButton.tsx
  src/shared/components/Search/Search.module.scss
  src/shared/components/Search/Search.tsx
  src/shared/components/Search/index.ts
  src/shared/pages/Admin/Admin.module.scss
  src/shared/pages/Admin/index.tsx
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

feat(nav): add navbar component with mobile design
  package.json
  src/shared/App.tsx
  src/shared/components/Navbar/Navbar.module.scss
  src/shared/components/Navbar/Navbar.test.tsx
  src/shared/components/Navbar/Navbar.tsx
  src/shared/components/Navbar/index.ts
  src/shared/components/Search/Search.module.scss
  src/shared/components/Search/Search.tsx
  src/shared/pages/Home/Home.module.scss
  src/shared/pages/Home/index.tsx
  src/shared/store/app/actions.ts
  src/shared/store/app/reducer.test.ts
  src/shared/store/app/reducer.ts
  src/shared/store/app/selectors.ts
  src/shared/store/app/types.ts
  src/shared/theme.scss
  src/shared/variables.scss
  yarn.lock
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

feat(nav): create design of nav component for desktop
  src/shared/components/Navbar/Navbar.module.scss
  src/shared/components/Navbar/Navbar.tsx
  src/shared/components/Search/Search.module.scss
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

feat(home): complete page layout
  config/plop/component/component.js.plop
  package.json
  src/shared/assets/mocks/asset-1.png
  src/shared/assets/mocks/asset-2.png
  src/shared/assets/mocks/asset-3.png
  src/shared/assets/mocks/asset-4.png
  src/shared/assets/mocks/asset-5.png
  src/shared/assets/mocks/asset-6.png
  src/shared/assets/mocks/asset-7.png
  src/shared/components/AssetCard/AssetCard.module.scss
  src/shared/components/AssetCard/AssetCard.test.tsx
  src/shared/components/AssetCard/AssetCard.tsx
  src/shared/components/AssetCard/index.ts
  src/shared/components/FlatButton/FlatButton.tsx
  src/shared/components/Navbar/Navbar.module.scss
  src/shared/components/Navbar/Navbar.tsx
  src/shared/mixins.scss
  src/shared/mocks/assets.ts
  src/shared/mocks/categories.ts
  src/shared/pages/Home/Home.module.scss
  src/shared/pages/Home/index.tsx
  src/shared/theme.scss
  src/shared/types.d.ts
  src/shared/variables.scss
  yarn.lock
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

fix(server): allow static assets middleware for production mode
  src/server/index.ts
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

chore: reduce build size and update start script
  package.json
  src/shared/mocks/assets.ts
  src/shared/mocks/categories.ts
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx

fix(home): remove padding from asset-row to fix card overlap
  src/shared/pages/Home/Home.module.scss
  src/shared/pages/Home/index.tsx
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

feat(asset-page): create asset page and modal view
  package.json
  src/shared/App.tsx
  src/shared/assets/calender-icon.svg
  src/shared/assets/eye-icon.svg
  src/shared/components/AssetCard/AssetCard.test.tsx
  src/shared/components/AssetCard/AssetCard.tsx
  src/shared/components/AssetCard/index.ts
  src/shared/components/Dialog/Dialog.scss
  src/shared/helpers/slugify.ts
  src/shared/mocks/assets.ts
  src/shared/pages/Admin/Admin.module.scss
  src/shared/pages/Admin/index.tsx
  src/shared/pages/Asset/Asset.module.scss
  src/shared/pages/Asset/Asset.test.tsx
  src/shared/pages/Asset/Asset.tsx
  src/shared/pages/Asset/index.ts
  src/shared/pages/Home/Home.tsx
  src/shared/store/app/actions.ts
  src/shared/store/app/reducer.ts
  src/shared/store/app/selectors.ts
  src/shared/store/app/types.ts
  src/shared/theme.scss
  src/shared/types.d.ts
  yarn.lock
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

feat(asset-placeholder): create placeholder for asset loading
  src/shared/assets/asset_placeholder_logo.svg
  src/shared/components/AssetPlaceholder/AssetPlaceholder.module.scss
  src/shared/components/AssetPlaceholder/AssetPlaceholder.test.tsx
  src/shared/components/AssetPlaceholder/AssetPlaceholder.tsx
  src/shared/components/AssetPlaceholder/index.ts
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx, stylelint --fix

feat(api): create api for assets
  package.json
  src/server/api/assets/controller.ts
  src/server/api/assets/index.ts
  src/server/api/assets/model.ts
  src/server/api/routes.ts
  src/server/index.ts
  src/shared/types.d.ts
  yarn.lock
Due: prettier --write, eslint --fix --ext js,jsx,ts,tsx
